body {
    background-color: cornflowerblue;
}

.header {
    align-items: center;
    text-align: center;
    color: white;
    font-family: helvetica;
}


.header1 {
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    
}